.ridingPageMainDiv{
    display: flex;
    justify-content: space-between;
    padding:1rem;
    margin-top: 2rem;
}

.leftPannelSearch{
    width:28%;
    text-align:left;
    margin: auto 0;
}

.rightPannelMap{
    width:68%;
    text-align:right;
    margin: auto 0;
}