.searchedResiultInLeftPanelMainDiv{
    background: aliceblue;
    padding:1rem;
    width:100%;
    border-radius:10px;
    margin: auto;
}

strong{
    color: coral;
}

.confirmButtonDiv{
    text-align:center;
    margin-top: 0.5rem;;
}

.fromToInformationDiv{
    padding: 1rem;
    background: moccasin;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.transportDiv{
    padding: 1rem;
    background: orange;
    border-radius: 20px;
}