.headerMainDiv{
    display:flex;
    margin: 0;
    padding:0;
}

.headerTitleOnLeft{
    width:20%;
    text-align:left;
    margin: auto;
    margin-left: 1rem;
}

.headerNavLinksOnRight{
    margin: auto;
    width:80%;
    text-align:right;
}

.navLinks{
    text-decoration: none;
    margin: auto 1rem;
    padding: 0;
    color: aliceblue;
}

.headerNavLinksOnRight nav .navLinks:focus{
    color: coral;
}
