.cardForTransportMainDiv{
    background-color: aliceblue;
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
}

.cardForTransportMainDiv:hover{
    cursor: pointer;
}

.cardForTransportMainDiv img{
    width: 200px;
}